<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Annyang Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    
    <script>if (window.location.protocol === "http:") window.location.protocol = "https:";</script>
    <script src="bower_components/annyang/annyang.min.js"></script>
    <script src="bower_components/jquery/jquery.min.js"></script>
     <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="bower_components/angularjs/angular.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/annyang-service.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/service.js"></script>
</head>

<body ng-controller="MainCtrl">

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Speak Hue</h1>

            <!-- No results -->
            <div ng-hide="results.length > 0">
                <ol>
                    <li>Click allow ^</li>
                    <li>Wait for the red light on this Chrome tab</li>
                    <li>Say some short phrases</li>
                </ol>

                <p class="help-block">
                    <i>Tip: more output in the console.</i>
                </p>

            </div>

            <button ng-click="startTimer()">Try Timer</button>

            <!-- Has results -->
            <div ng-show="results.length > 0">
                <button class="btn btn-default" ng-click="clearResults()">Clear</button>

                <hr/>
{{avengers}}
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="result in results">
                        <span class="badge">{{ result.date | date : 'EEE MMM, yyyy hh:mm:ss a' }}</span>
                        {{ result.content }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
